<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>346384684626-vd75stkce6do82gc1242ivmjd5aktqqb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.346384684626-vd75stkce6do82gc1242ivmjd5aktqqb</string>
	<key>API_KEY</key>
	<string>AIzaSyDol9z07r-rVQmp2VHiwXxUlOYB8knt7Gg</string>
	<key>GCM_SENDER_ID</key>
	<string>346384684626</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.thekind</string>
	<key>PROJECT_ID</key>
	<string>thekind-b86ab</string>
	<key>STORAGE_BUCKET</key>
	<string>thekind-b86ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:346384684626:ios:5f1f54e4353685c0</string>
	<key>DATABASE_URL</key>
	<string>https://thekind-b86ab.firebaseio.com</string>
</dict>
</plist>
